body {
    margin: 0;
}
.image-container {
    width: 100%;
    height: 1000px;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.image-container img {
    width: 100%; 
    height: auto; 
    position: relative;
    top: -250px;
  }