@keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 

@keyframes flip {
    0% {
        transform: perspective(1500px) rotateY(0) scale(1)  ;
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(1500px) translateZ(100px) rotateY(170deg) scale(1);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(1500px) translateZ(100px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(1500px) rotateY(360deg) scale(1);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(1500px) scale(1);
        animation-timing-function: ease-in;
    }
} 
  
.cssanimation,
.cssanimation span {
    animation-duration: 2s;
    animation-fill-mode: both;
}
.fadeInBottom {
    animation-name: fadeInBottom;
}

.flip{
    animation-name: flip;
}

.fadeInRight{
    animation-name: fadeInRight;
}

.loading-effect{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;  
    width: 100%;
    height: 100%;
}

