.sticky-header {
    padding: 2rem;
    background: #161616;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    opacity: 1; 
    transition: opacity 0.3s ease-in-out;
}
.sticky-header.animate {
    opacity: 1;
}
.login,
.register {
    text-transform: uppercase;
    display: inline-flex;
    padding: 0.5em 0.5em;
    margin-right: 0.5em;
    font-weight: bold;
}

.login {
    background-color: gray;
}

.register {
    background-color: blue;
}

.white-link {
    color: white;
    text-decoration: none;
}

.login-register-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

